.DS_Store
*.swp
/target
/.settings
/.project
/.classpath
/src/main/webapp/WEB-INF/lib
/src/main/webapp/WEB-INF/classes
*.pdb
/tomcat
/bin
/.factorypath
/.vscode
*.log
*.tgz
*.tar.gz
*.zip
*.7z
*.tree
*.$*
*.oob
out/